# --- Core settings --------------------------------------------------
* text=auto eol=lf
*.py           linguist-language=Python diff=python
*.sh           linguist-language=Shell
charts/*      binary
# --------------------------------------------------------------------
